@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    @apply box-border m-0 p-0;
}

body {
    @apply font-Omnes overflow-x-hidden;
}

.swiper-item {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;

}

.swiper-slider-wrapper {
    position: absolute;
    top: -16rem;
}

.after-line::after {
    content: '';
    display: block;
    width: 40%;
    height: 5px; /* Adjust the height of the line as needed */
    background-color: #00C2E8;
    border-radius: 10px;
}

.feature-slide-item {
    display: flex !important;
    flex-direction: row !important;
}

.marquee {
    width: 100vw;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.marquee-content {
    display: flex;
    animation: marquee 60s linear infinite running;
}

.marquee-content:hover {
    animation-play-state: paused;
}

.marquee-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    background: rgba(255, 255, 255, .1);
}

.marquee-span:hover {
    transform: scale(1.1);
    cursor: pointer;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
